service:
  name: cmc-api
#app: your-app-name
#tenant: your-tenant-name

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack
  - serverless-offline

provider:
  name: aws
  runtime: nodejs10.x
  region: eu-west-2

functions:
  getListing:
    handler: handler.getListing
    events:
      - http:
          method: get
          path: listing
  getQuotes:
    handler: handler.getQuotes
    events:
      - http:
          method: get
          path: quotes/{symbol}/{unit}
          request:
            parameters:
              paths:
                symbol: true
                unit: true
      - http:
          method: get
          path: quotes/{symbol}
          request:
            parameters:
              paths:
                symbol: true

